extends layout

block title
  title= title

block content
  h1= title
  div
    each entry in entries
      if (entry.type == 'add')
        div.event
          span= entry.timeText
          span= ' ID: ' + entry.data.id + ' '
          a(href= entry.data.url)= entry.data.title
