extends layout

block title
  title= title

block content
  h1= title
  div
    each entry in entries
      div(id=entry.id)
        a(href=entry.url)
          h2= entry.title
        div.company= entry.company
        div.location= entry.location
        div.date= entry.date
